In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
from scipy import stats

In [3]:
glaxo_df = pd.read_csv('glaxo_df.csv')
beml_df = pd.read_csv('beml_df.csv')

In [4]:
glaxo_df.head()

         Date      Date.1    Close      gain
0  2010-01-05  2010-01-05  1616.80 -0.005444
1  2010-01-06  2010-01-06  1638.50  0.013422
2  2010-01-07  2010-01-07  1648.70  0.006225
3  2010-01-08  2010-01-08  1639.80 -0.005398
4  2010-01-11  2010-01-11  1629.45 -0.006312

In [5]:
beml_df.head()

         Date      Date.1    Close      gain
0  2010-01-05  2010-01-05  1134.60 -0.000881
1  2010-01-06  2010-01-06  1139.60  0.004407
2  2010-01-07  2010-01-07  1144.15  0.003993
3  2010-01-08  2010-01-08  1144.05 -0.000087
4  2010-01-11  2010-01-11  1137.00 -0.006162

In [6]:
glaxo_df_ci  = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print('Gain at 95% confidence interval is: ',np.round(glaxo_df_ci,4))

Gain at 95% confidence interval is:  [-0.0258  0.0266]

In [12]:
beml_df_ci = stats.norm.interval(0.95,
loc  =  glaxo_df.gain.mean(),
scale = beml_df.gain.std())

print('Gain at 95% confidence interval for beml is: ',np.round(beml_df_ci,4))

Gain at 95% confidence interval for beml is:  [-0.0514  0.0522]

In [8]:
beml_df_ci

(-0.0514174366770663, 0.052189518842250884)

In [3]:
2*stats.norm.cdf(-1.0,49)

NameError: name 'stats' is not defined

In [4]:
from scipy import stats

In [12]:
2*stats.t.cdf(-1.0,49)

0.32222340595067556

In [7]:
import numpy as np

In [8]:
#calculating t-value

t_value  = (4-4.6)/(3/np.sqrt(50))

In [9]:
t_value

-1.4142135623730943

In [10]:
#calculating p-value

p_value = 2*stats.t.cdf(-1.41,df=49)

In [11]:
p_value

0.1648559451804547

In [13]:
t_value_day17 = (4-5.3)/(3/np.sqrt(50))

In [14]:
t_value_day17

-3.0641293851417055

In [15]:
p_value_day17  = 2 * stats.t.cdf(-3.06,df=49)

In [17]:
p_value_day17

0.00358476268097374

In [18]:
#1-sample 1-t test

#salmonella icecream expamle


import pandas as pd

In [20]:
data  = pd.Series([0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418])

In [21]:
data

0    0.593
1    0.142
2    0.329
3    0.691
4    0.231
5    0.793
6    0.519
7    0.392
8    0.418
dtype: float64

In [26]:
scipy.stats.ttest_1samp(data,0.3)

NameError: name 'scipy' is not defined

In [27]:
from scipy import stats

In [30]:
scipy.stats.ttest_1samp(data,0.3)

NameError: name 'scipy' is not defined

In [31]:
import scipy

In [34]:
scipy.stats.ttest_1samp(data,0.3)

TtestResult(statistic=2.2050588385131595, pvalue=0.05853032968489765, df=8)

In [36]:
p = scipy.stats.ttest_1samp(data,0.3)[1]

In [37]:
p

0.05853032968489765

In [38]:
p_value2 = p/2

In [39]:
p_value2

0.029265164842448826